
   
<body>
    <div class="home">
         <div class="banner-area">
         <h3>Ven a Vernos<br> <span>Estamos Ubicados en Pifo</span></h3>
             <h2>CONOCE LA UBICACIÓN <span class="typed2"></span></h2>
             <br><br>
             <a href="https://maps.app.goo.gl/gZMAbq2XboTjmC4m6" target="_blank">NUESTRA CASA</a>
         </div>
    </div>
 
 
     <script src="typed.js"></script>
     <script>
         var typed = new Typed(".typed2", {
             strings: [
                 "Stress Level",
                 "Memory Loss",
                 "Depression"
             ],
             typeSpeed: 50,
             backSpeed: 50,
             loop: true
         });
     </script>
 </body>
 
 