<!-- Remove the container if you want to extend the Footer to full width. -->

    <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/?stype=lo&deoia=1&jlou=Afcs4PSDq3goLgOtLNPvO5804rE_GaOZgYrclJEr4hctFYJdGnYdcCDV92k8hzqzBbf9KZ6PUGBbhBdkTR16OfTk2q6bCWWjBQOrYL-w_z02kQ&smuh=35625&lh=Ac9rD7eJ7FObpwJq6OE" role="button"
          >Facebook<i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/guerreros_fc2023/" role="button"
          ><i class="fab fa-twitter">Instagram</i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/?lang=es" role="button"
          ><i class="fab fa-google">X</i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/" role="button"
          ><i class="fab fa-instagram">YouTube</i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://maps.app.goo.gl/rmaLbLQJzvpYsFBd8" role="button"
          ><i class="fab fa-linkedin-in">Maps</i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="https://www.google.com/intl/es/gmail/about/">Gmail</i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="http://localhost:4200/">GuerrerosFC</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- End of .container -->