<div class="midon">
  <h1 style="color: rgb(246, 247, 248);">NUESTROS JUGADORES</h1>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1 style="color: rgb(247, 248, 250);">ARQUERO</h1>
          <img src="../../../assets/images/EDU.png" class="d-block w-100" alt="..." width="50px" height="360px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Derecha</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 18 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Arcos Invictos: 4 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Penales Atajados: 3 Penales</h4>
        </div>
        <div class="carousel-item">
          <h1 style="color: rgb(135, 136, 138);">DEFENSAS</h1>
          <img src="../../../assets/images/HARRY.png" class="d-block w-100" alt="..." width="50px" height="360px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Izquierda</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 15 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 1 Gol</h4>
          <h4 style="color: rgb(247, 248, 250);">Intercepciones: 15 Intercepciones</h4>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/MARTIN.png" class="d-block w-100" alt="..." width="50px" height="414px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Derecha</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 18 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 5 Goles</h4>
          <h4 style="color: rgb(247, 248, 250);">Intercepciones: 40 Intercepciones</h4>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/MARCOS.png" class="d-block w-100" alt="..." width="50px" height="414px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Derecha</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 18 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 3 Goles</h4>
          <h4 style="color: rgb(247, 248, 250);">Intercepciones: 38 Intercepciones</h4>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/JEFFERSON.png" class="d-block w-100" alt="..." width="50px" height="414px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Derecha</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 18 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 0 Goles</h4>
          <h4 style="color: rgb(247, 248, 250);">Intercepciones: 14 Intercepciones</h4>
        </div>
        <div class="carousel-item">
          <h1 style="color: rgb(250, 250, 250);">MEDIOS</h1>
          <img src="../../../assets/images/RICARDO.png" class="d-block w-100" alt="..." width="50px" height="360px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Izquierda</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 18 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 3 Goles</h4>
          <h4 style="color: rgb(247, 248, 250);">Asistencias: 10 Asistencias</h4>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/VICTOR.png" class="d-block w-100" alt="..."width="50px" height="414px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Derecha</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 18 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 3 Goles</h4>
          <h4 style="color: rgb(247, 248, 250);">Asistencias: 4 Asistencias</h4>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/JUNIOR.png" class="d-block w-100" alt="..."width="50px" height="414px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Derecha</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 14 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 0 Goles</h4>
          <h4 style="color: rgb(247, 248, 250);">Asistencias: 2 Asistencias</h4>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/LEONARDO.png" class="d-block w-100" alt="..."width="50px" height="414px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Derecha</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 18 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 24 Goles</h4>
          <h4 style="color: rgb(247, 248, 250);">Asistencias: 15 Asistencias</h4>
        </div>
        <div class="carousel-item">
          <h1 style="color: rgb(250, 250, 250);">DELANTEROS</h1>
          <img src="../../../assets/images/MATEO.png" class="d-block w-100" alt="..." width="50px" height="360px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Derecha</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 18 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 9 Goles</h4>
          <h4 style="color: rgb(247, 248, 250);">Asistencias: 7 Asistencias</h4>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/FRANKLIN.png" class="d-block w-100" alt="..." width="50px" height="414px">
          <h3 style="color: rgb(247, 248, 250);">Estadisticas</h3>
          <h4 style="color: rgb(247, 248, 250);">Pierna Hábil: Izquierda</h4>
          <h4 style="color: rgb(247, 248, 250);">Partidos Jugados: 18 Partidos</h4>
          <h4 style="color: rgb(247, 248, 250);">Goles: 20 Goles</h4>
          <h4 style="color: rgb(247, 248, 250);">Asistencias: 17 Asistencias</h4>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" style="color: black;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>