<body>
  

<div class="container py-5">

  <div class="row text-center text-white mb-5">
    <div class="col-lg-7 mx-auto">
      <h1 class="display-4">GUERREROS FC STORE</h1>
      <p class="lead mb-0">Esta es la tienda online de Guerreros FC</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 mx-auto" *ngFor="let item of dataTienda">


      <ul class="list-group shadow">
        <li class="list-group-item">
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{item.nombre}}</h5>
              <p class="font-italic text-muted mb-0 small">{{item.descripcion}}</p>
              <p class="font-italic text-muted mb-0 small">Tallas: <br>{{item.tallas}}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">{{item.precio}}$</h6>
                <ul class="list-inline small">
                  <i class="fa-solid fa-cart-shopping" (click)="agregarCarrito(item)">COMPRAR</i>

                  
                </ul>
              </div>
            </div><a href=""><img src="{{item.foto}}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2"></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
<app-carrito-compras></app-carrito-compras>