body {
    background-image: url(https://www.ecuavisa.com/binrepository/880x495/27c0/825d495/none/11705/GLXX/20231106-174354_1223816_20231106174658.jpg);
    min-height: 100vh;
  }
  
  .text-gray {
    color: #aaa;
  }