
   
<body>
   <div class="home">
        <div class="banner-area">
        <h3>GUERREROS<br> <span>FÚTBOL CLUB</span></h3>
            <h2>MÁS QUE UN EQUIPO UNA FAMILIA <span class="typed2"></span></h2>
            <a href="jugadores">CONOCE A NUSTROS JUGADORES</a>
        </div>
   </div>


    <script src="typed.js"></script>
    <script>
        var typed = new Typed(".typed2", {
            strings: [
                "Stress Level",
                "Memory Loss",
                "Depression"
            ],
            typeSpeed: 50,
            backSpeed: 50,
            loop: true
        });
    </script>
</body>

