
   
<body>
    <div class="home">
         <div class="banner-area">
         <h3>CONTACTA<br> <span>Con Guerreros FC</span></h3>
             <h2>CONTACTO DIRECTO <span class="typed2"></span></h2>
             <br><br>
             <a href="https://web.whatsapp.com/" target="_blank" class="btn btn-succes">WHATS-APP</a>
         </div>
    </div>
 
 
     <script src="typed.js"></script>
     <script>
         var typed = new Typed(".typed2", {
             strings: [
                 "Stress Level",
                 "Memory Loss",
                 "Depression"
             ],
             typeSpeed: 50,
             backSpeed: 50,
             loop: true
         });
     </script>
 </body>
 
 