<div class="midon">
    <h1 >PRODUCTOS GUERREROS FC</h1>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" *ngFor="let productos of dataProducto">
          <div class="carousel-item active">
            <h1 style="color: rgb(247, 248, 250);">{{productos.nombre}}</h1>
            <img src={{productos.foto}} class="d-block w-100" alt="..." width="50px" height="360px">
            <h3 style="color: rgb(247, 248, 250);">Caracteristicas</h3>
            <h4 style="color: rgb(247, 248, 250);">Descripción: {{productos.descripcion}}</h4>
            <h4 style="color: rgb(247, 248, 250);">Tallas: {{productos.tallas}}</h4>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="color: black;"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
